<head>
</head>
<body>
<div>
  <div><h1>New Game</h1></div>

  <form action="/games" method="POST">
    <div class="form-group">
    <input type="text" name="games[name]" placeholder="Name" />
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="games[genre]" value="RPGs"/><label for="RPGs">RPGs</label>
        <input class="form-check-input" type="checkbox" name="games[genre]" value="MMORPG"><label for="MMORPG">MMORPG</label>
        <input class="form-check-input" type="checkbox" name="games[genre]" value="FPS"><label for="FPS">FPS</label>
        <input class="form-check-input" type="checkbox" name="games[genre]" value="3rd Person FPS"><label for="3rd Person FPS">3rd Person FPS</label>
        <input class="form-check-input" type="checkbox" name="games[genre]" value="RTS"><label for="RTS">RTS</label>
        <input class="form-check-input" type="checkbox" name="games[genre]" value="Battle Arena"><label for="Battle Arena">Battle Arena</label>
        <input class="form-check-input" type="checkbox" name="games[genre]" value="Turn Base Strategies"><label for="Turn Base Strategies">Turn Base Strategies</label>
        <input class="form-check-input" type="checkbox" name="games[genre]" value="Action"><label for="Action">Action</label>
        <input class="form-check-input" type="checkbox" name="games[genre]" value="Action/Adventure"><label for="Action/Adventure">Action/Adventure</label>
        <input class="form-check-input" type="checkbox" name="games[genre]" value="Survival"><label for="Survival">Survival</label>
        <input class="form-check-input" type="checkbox" name="games[genre]" value="Simulator"><label for="Simulator">Simulator</label>
    </div>
    <input type="text" name="games[publisher]" placeholder="Publisher" />
    <input type="date" name="games[release_date]" placeholder="Release Date" />
    <div>
        <input type="checkbox" name="games[platforms]" value="PC/MAC"><label for="PC/MAC">PC/MAC</label>
        <input type="checkbox" name="games[platforms]" value="XBOX"><label for="XBOX">XBOX</label>
        <input type="checkbox" name="games[platforms]" value="Playstation"><label for="Playstation">Playstation</label>
        <input type="checkbox" name="games[platforms]" value="iOS"><label for="iOS">iOS</label>
        <input type="checkbox" name="games[platforms]" value="Android"><label for="Android">Android</label>
        <input type="checkbox" name="games[platforms]" value="Switch"><label for="Switch">Switch</label>
    </div>
    </div>
    <input type="submit" />
  </form>
</div>
</body>